Connected Services/YarlHospital_Ref/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Full_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:int" />
      <xs:element minOccurs="0" name="NIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patient_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appointment_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Full_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patient_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="ArrayOfDrug">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drug" nillable="true" type="tns:Drug" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrug" nillable="true" type="tns:ArrayOfDrug" />
  <xs:complexType name="Drug">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_of_Exp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_of_Manf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drug_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drug_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Scientific_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drug" nillable="true" type="tns:Drug" />
  <xs:complexType name="ArrayOfTreatment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Treatment" nillable="true" type="tns:Treatment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatment" nillable="true" type="tns:ArrayOfTreatment" />
  <xs:complexType name="Treatment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diagnostic_Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drugs_Used" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Full_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Next_Visit_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Next_Visit_Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_of_Days" type="xs:int" />
      <xs:element minOccurs="0" name="Patient_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Times_Per_Day" type="xs:int" />
      <xs:element minOccurs="0" name="Treatment_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visit_Date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Treatment" nillable="true" type="tns:Treatment" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:int" />
      <xs:element minOccurs="0" name="NIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialist" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance_Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid_Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Payment_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
</xs:schema>